* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.boat-name h1 {
  font-family: "Bodoni 72";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
}
.boat-name {
  padding-bottom: 47px;
}
.boat-sum {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: justify;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}
.sum-item {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 150px;
}
.boat-name .anchor-diviser {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  margin-left: 8px;
  margin-right: 8px;
  align-self: center;
  height: 1px;
  vertical-align: middle;
  width: 61px;
  border-bottom: 1px solid white;
}
.sum-value {
  font-weight: bold;
}
section.header {
  height: 100vh;
  padding-top: 47px;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url("assets/7651376_20201109134503450_1_XLARGE\ 1.png");
  position: relative;
}
.content_container {
  padding-right: 20px;
  padding-left: 20px;
}

.left-text {
  text-align: right;
}
.divider {
  margin-top: 36px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
li img {
  width: 100%;
}

section .splide img {
  width: 100%;
  margin: auto;
}

.splide__arrow {
  height: 60px;
  width: 60px;
  background-color: #fff;
}
.specs {
  margin-top: 32px;
}
.specs h1 {
  font-family: "Bodoni 72";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #002e6d;
}

.specs .anchor-diviser {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.specs .anchor-diviser img {
  color: #002e6d;
}
.specs .line {
  margin-left: 8px;
  margin-right: 8px;
  align-self: center;
  height: 1px;
  vertical-align: middle;
  width: 61px;
  border-bottom: 1px solid #002e6d;
}

.specs-list-group {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #002e6d;
}
.specs-list-group .title {
  color: #002e6d;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.specs-list-group .spec-item {
  display: flex;
  width:70%;
  justify-content: space-between;
  align-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.description-box {
    padding:16px;
    border: 1px solid rgba(0, 46, 109, 0.25);
}

.tabs {
    display:flex;
}
.text-desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;    
    letter-spacing: 0.05em;
    text-transform: uppercase;

}